.app-title {
  margin-right: 1rem;
}

.mat-toolbar .mat-mdc-button-base.mat-unthemed.active {
  background-color: #4850b3;
  color: #fff;
}

@media(max-width: 768px) {
  .mat-toolbar-single-row {
    flex-direction: column;
    justify-content: space-between;
    height: 110px;
    padding: 15px;
  }
}
