<form [formGroup]="invoiceForm" (ngSubmit)="onSubmit()">
  <div formArrayName="invoice">
    <div *ngFor="let invoice of controls; let i = index" [formGroupName]="i">
      <mat-form-field>
        <mat-label>Name</mat-label>
        <input matInput placeholder="Name" formControlName="name">
        <mat-error><app-error-handle [formControlInputErrors]="invoice.get('name')?.errors"></app-error-handle></mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Count</mat-label>
        <input matInput formControlName="count">
        <mat-error><app-error-handle [formControlInputErrors]="invoice.get('count')?.errors"></app-error-handle></mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Price</mat-label>
        <input matInput formControlName="price">
        <mat-error><app-error-handle [formControlInputErrors]="invoice.get('price')?.errors"></app-error-handle></mat-error>
      </mat-form-field>
      <button
        mat-icon-button
        aria-label="Remove invoice"
        type="button"
        color="warn"
        matTooltip="Remove invoice"
        (click)="removeInvoice(i)"
      >
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </div>
  <div><button mat-button type="button" (click)="addInvoice()">
    + Add new invoice
  </button></div>
  <div><button mat-raised-button color="primary" type="submit" class="submit-btn">Submit</button></div>
</form>


